<div class="w-full h-full">
  <div class="w-full h-auto px-2 py-4 text-left text-4xl">
    <h1>Notifications</h1>
  </div>
{{#if notifications}}
  {{#each notifications}}
  {{!-- noti container --}}
  <div class="w-full px-2 flex flex-row z-10 border-b border-gray-700 {{#if read}}{{else}}bg-white/15{{/if}} data-link={{link}}">
    {{!-- left: user avatar --}}
    <div class="w-14 h-full flex col-start-1 col-end-1">
      <a href="/profile/{{userId}}" class="m-0 p-0 w-auto h-auto" role="link" tabindex="0">
        <img
          class="border-none object-cover rounded-full m-0 p-0"
          height="36" width="36" src="{{avatarImagePath}}" alt="{{username}}'s profile picture"
        >
      </a>
    </div>

    {{!-- right: username-date and content-more menu --}}
    <div class="w-full h-full col-start-2 col-end-2 grid grid-rows-[1.5rem_1fr] grid-cols-[1fr_1.5rem]">
      {{!-- username-date --}}
      <div class="w-full h-full flex items-center gap-x-2 row-start-1 row-end-1 col-start-1 col-end-3">
        <!-- username -->
        <div class="max-w-44 overflow-hidden text-ellipsis whitespace-nowrap">
            <a
              class="w-full font-bold visited:text-white visited:no-underline link:text-white link:no-underline hover:underline hover:text-white"
              href="/profile/{{userId}}"
            >
                <span>{{username}}</span>
            </a>
        </div>
        <!-- date -->
        <div class="max-w-40 overflow-hidden text-ellipsis font-normal text-slate-500 leading-5">
            <span>{{date}}</span>
        </div>
      </div>

      {{!-- content --}}
      <div class="w-full h-full row-start-2 row-end-2 col-start-1 col-end-1">
        {{content}}
      </div>

      {{!-- more menu --}}
      <div class="w-full h-full row-start-1 row-end-1 col-start-3 col-end-3 flex items-center justify-center text-3xl">
        &#x2026
      </div>
    </div>
  </div>
  {{/each}}
  {{!-- noti interaction menu overlay --}}
  <div class="z-50 invisible w-screen h-screen m-0 p-0 fixed bottom-0 bg-black bg-opacity-30">
    {{!-- container --}}
    <div class="w-full max-w-md grid grid-cols-1 divide-y rounded-tl-lg rounded-tr-lg">
      {{!-- header --}}
      <div class="w-full py-3">
        <h3>Edit notification</h3>
      </div>

      {{!-- "Mark as read" button --}}
      <form class="w-full" {{!-- method="put" --}}>
        <input class="w-full" type="submit" value="Mark as read">
      </form>

      {{!-- "Delete" button --}}
      <form class="w-full py-3" action="" {{!-- method="delete" --}}>
        <input class="w-full" type="submit" value="Delete">
      </form>
    </div>
  </div>
{{/if}}
</div>
