<!--Content-->
<div class="block relative h-auto mt-[12px] mb-[12px] overflow-x-hidden">
  <div class="activity-follow-container {{#unless is_read}}unread{{/unless}}" id="noti-{{id}}">
    <div class="p-[12px] col-start-1">
      <div class="relative block">
        <a
          href="#"
          class="h-[36px] m-0 p-0 no-underline list-none border-none rounded-full flex"
          role="link"
          tabindex="0"
        >
          <div
            class="h-[36px] m-0 p-0 no-underline list-none border-none rounded-full flex"
          >
            <img
              class="rounded-full border-0 object-cover"
              src="{{img_interactor}}"
              alt="img-avt"
            />
          </div>
        </a>
        <div class="absolute top-[20px] right-[-6px]">
          <div class="activity-follow-img-svg star-color">
            <svg
              aria-label=""
              role="img"
              viewBox="0 0 18 18"
              class="h-[18px] w-[18px] fill-white flex-shrink-0"
            >
              <title>svg-icon-star</title>
              <path
                d="M6.534 12.5799C6.45955 12.5247 6.41391 12.4502 6.3971 12.3566C6.38269 12.2629 6.3983 12.1512 6.44393 12.0215L7.19688 9.78069L5.27308 8.39728C5.1602 8.31802 5.08214 8.23636 5.03891 8.1523C4.99568 8.06824 4.98847 7.98178 5.01729 7.89291C5.04611 7.80645 5.10255 7.7416 5.18662 7.69837C5.27068 7.65514 5.38236 7.63472 5.52166 7.63713L7.88138 7.65154L8.59831 5.39989C8.64154 5.2678 8.69558 5.16812 8.76042 5.10087C8.82767 5.03362 8.90693 5 8.9982 5C9.09187 5 9.17112 5.03362 9.23597 5.10087C9.30322 5.16812 9.35846 5.2678 9.40169 5.39989L10.1186 7.65154L12.4783 7.63713C12.6176 7.63472 12.7293 7.65514 12.8134 7.69837C12.8974 7.7416 12.9539 7.80645 12.9827 7.89291C13.0115 7.98178 13.0043 8.06824 12.9611 8.1523C12.9179 8.23636 12.8398 8.31802 12.7269 8.39728L10.8031 9.78069L11.5561 12.0215C11.6017 12.1512 11.6161 12.2629 11.5993 12.3566C11.5849 12.4502 11.5405 12.5247 11.466 12.5799C11.3915 12.6376 11.3075 12.6568 11.2138 12.6376C11.1201 12.6208 11.0181 12.5727 10.9076 12.4935L8.9982 11.092L7.09241 12.4935C6.98193 12.5727 6.87985 12.6208 6.78618 12.6376C6.69252 12.6568 6.60845 12.6376 6.534 12.5799Z"
              >
              </path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-start-2 border-b-[0.5px] border-b-[rgba(243,245,247,0.15)] flex pr-[12px]"
    >
      <div
        class="pt-[12px] pb-[12px] flex-grow min-w-0 max-w-full cursor-pointer"
      >
        <div class="flex items-center">
          <div class="flex-grow min-w-0">
            <div class="flex gap-[5px] max-w-full overflow-hidden">
              <div class="activity-follow-infor-header-name change-width">
                <span>{{name_interactor}}</span>
              </div>
              <div class="activity-follow-infor-header-time"><span
                  class="text-[15px] font-normal text-[#777777] overflow-ellipsis leading-[1.4] max-w-full"
                >{{formatDate created_at}}</span></div>
            </div>
            <div
              class="text-[15px] font-normal text-[#777777] overflow-ellipsis leading-[1.4] max-w-full"
            ><span>{{describe}}</span>
            </div>
            <div class="activity-follow-infor-content"><span>{{content}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- check box -->
    <div class="activity-follow-checkbox hidden">
      <label class="custom-checkbox">
        <input type="checkbox" class="check-box" name="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
    <!-- check box -->
  </div>
</div>