<div class="w-full p-4 border-b border-gray-200 border-opacity-25">
  {{! Post header }}
  <div class="flex justify-between">
    <div class="flex items-center space-x-3">
      <img src="https://placehold.co/36" alt="" class="rounded-full" />
      <div>
        <div class="flex items-center space-x-2">
          <h4 class="font-semibold">{{username}}</h4>
          <span class="text-gray-500">{{dateDistance}}</span>
        </div>
      </div>
    </div>
    <button class="text-gray-500 hover:text-gray-700">
      <i class="iconoir-more-horiz"></i>
    </button>
  </div>
  {{! Post content }}
  <div class="mt-3 mb-4">
    <p class="text-neon-white">{{content}}</p>
  </div>
  {{! Post Images }}
  {{#if postImagePaths.length}}
    <div
      class="mb-4 w-auto flex flex-nowrap h-60 overflow-x-auto gap-4 no-scrollbar"
    >

      {{#each postImagePaths}}
        <img
          src="{{this}}"
          alt="Post image"
          class="h-full w-auto object-cover rounded"
        />
      {{/each}}
    </div>
  {{/if}}
  {{! Post actions }}
  <div class="flex items-center text-sm text-gray-500 mb-3">
    <span>{{nComments}} replies</span>
    <span class="mx-1">·</span>
    <span>{{nLikes}} likes</span>
  </div>

  {{! Action buttons }}
  <div class="flex items-center space-x-4 pt-1">
    <button class="text-gray-500 hover:text-black">
      <div class="iconoir-heart"></div>
    </button>
    <button class="text-gray-500 hover:text-black">
      <div class="iconoir-chat-bubble-empty"></div>
    </button>
  </div>

</div>